### HW6

diamond data 를 기준으로 color 에 대한 price 의 차이가 있는 지를 유의수준 5%에서 분산분석하시오.

In [32]:
import statsmodels.formula.api as smf
import statsmodels.api as sm


df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/diamonds.csv',index_col=0)
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [34]:
price_fit = smf.ols('price~C(color,Sum)', data=df).fit()
table1 = sm.stats.anova_lm(price_fit)
print(table1)

                    df        sum_sq       mean_sq           F  PR(>F)
C(color, Sum)      6.0  2.684911e+10  4.474852e+09  290.205881     0.0
Residual       53933.0  8.316240e+11  1.541958e+07         NaN     NaN

In [36]:
print(f"ANOVA 분석 결과, p-value(PR(>F))가 0.00...이므로 유의수준 5%에서 귀무가설을 기각한다.")

ANOVA 분석 결과, p-value가 0.00...이므로 유의수준 5%에서 귀무가설을 기각한다.